<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emap.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @emap.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @emap.country %>
</p>

<p>
  <strong>Type sys:</strong>
  <%= @emap.type_sys %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @emap.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @emap.longitude %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @emap.capacity %>
</p>
<%= @emap.address %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@emap.latitude}%2C#{@emap.longitude}" %>


<%= link_to 'Edit', edit_emap_path(@emap) %> |
<%= link_to 'Back', emaps_path %>
